.introduction {
  background-size: 1920px;
  min-height: 860px;
  background-repeat: no-repeat;
  background-image: url('../img/introduction-desktop.png');

  @media (min-resolution: 2dppx) {
    background-image: url("../img/introduction-desktop@2x.png");
  }

  @media (max-width: $desktop-width - 1) {
    background-size: 768px;
    background-image: url('../img/introduction-tablet.png');

    @media (min-resolution: 2dppx) {
      background-image: url("../img/introduction-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-size: 320px;
    background-image: url('../img/introduction-mobile.png');

    @media (min-resolution: 2dppx) {
      background-image: url("../img/introduction-mobile@2x.png");
    }
  }
}
