.overview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1170px;
  height: 596px;
}

.overview__header {
  font-size: 55px;
  line-height: 90px;
  font-weight: 600;
  color: $basic-gray;
  position: relative;
  margin-left: 0;
  margin-bottom: 53px;
  margin-top: 0;

  &::after {
    position: absolute;
    content: "";
    width: 175px;
    height: 3px;
    background-color: $basic-accent;
    top: 90px;
    left: 0;
  }
}

.overview__text {
  margin-top: 0;
  margin-bottom: 50px;
  color: $basic-gray-70;
  max-width: 370px;
  letter-spacing: -0.47px;
}

.overview__review {
  width: 382px;
  height: 367px;
  margin-left: -112px;
  margin-top: 114px;
}

.overview__order-link {
  width: 250px;
  height: 75px;
}

.overview__image {
  width: 430px;
  height: 596px;
  margin-left: 100px;
}
