.overviews {
  background-size: 1443px;
  background-repeat: no-repeat;
  background-image: url('../img/europe-map.png');

  @media (min-resolution: 2dppx) {
    background-image: url("../img/europe-map@2x.png");
  }
}

.overviews__nav {
  margin: 40px auto 65px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 902px;
}

.overviews__item {
  display: none;

  &--current {
    display: block;
  }
}
