.overviews {
  background-size: 100%;
  //min-height: 1088px;
  position: relative;

  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 1443px;
    height: 1088px;
    top: 90px;
    left: -130px;
    background-repeat: no-repeat;
    background-image: url('../img/europe-map.png');

    @media (min-resolution: 2dppx) {
      background-image: url("../img/europe-map@2x.png");
    }
  }
}

.overviews__nav {
  margin: 40px auto 65px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 902px;
}

.overviews__item {
  display: none;
  margin: 0;

  &--current {
    display: block;
  }
}
