.review {
  background-color: $basic-white;
}

.review__title {
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 68px;
    height: 1px;
    background-color: $basic-accent;
    left: 0;
    top: 37px;
  }
}

.review__text {
  font-size: 14px;
  color: $basic-gray-70;
}

.review__author-name {
  position: relative;
  color: $basic-gray;
  font-weight: 500;
  line-height: 20px;
  width: 208px;
  padding-left: 45px;
  font-style: normal;

  &::before {
    position: absolute;
    content: "";
    width: 38px;
    height: 38px;
    left: 0;
    background-repeat: no-repeat;
    background-image: url("../img/avatar-vlada.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/avatar-vlada@2x.jpg");
    }
  }
}
