.review {
  background-color: $basic-white;
  max-width: 382px;
  box-sizing: border-box;
}

.review__title {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 68px;
    height: 1px;
    background-color: $basic-accent;
    left: 0;
    top: 47px;
  }
}

.review__text {
  font-size: 14px;
  color: $basic-gray-70;
  max-width: 322px;
  margin-left: 30px;
  margin-bottom: 35px;
}

.review__author {
  width: 204px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.review__author-name {
  position: relative;
  color: $basic-gray;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
}

.review__author-image {
  width: 38px;
  height: 38px;
}
