.slider-nav {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    height: 1px;
    width: 899px;
    background-color: $basic-gray-30;
  }
}

.slider-nav__button {
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $basic-gray-30;

  &--current {
    color: $basic-accent;
  }
}
