$basic-white: #ffffff;
$basic-white-70: rgba($basic-white, 0.7);
$basic-black: #141517;
$basic-black-70: rgba($basic-black, 0.7);
$basic-gray: #2c2e3f;
$basic-gray-30: rgba($basic-gray, 0.3);
$basic-gray-70: rgba($basic-gray, 0.7);
$basic-accent: #fe7865;
$basic-accent-hover: #f17d4b;

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;
